APP_PORT=8080
DB_URL=postgres://api_user:api_password@localhost:5432/api_db?sslmode=disable
JWT_SECRET=super_secret_jwt_key_here
JWT_REFRESH_SECRET=super_secret_refresh_key_here

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=456
